
<div class="header d-flex justify-content-between">
    <div class="me-auto p-2"><%= image_tag "netflix/netflix.svg", draggable:"false" %></div>
    <div class="dropdown p-2 me-3">
        <button class="btn dropdown-toggle btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Português
        </button>
        <ul class="dropdown-menu">
            <li><i class="dropdown-item" href="#">Inglês</i></li>
            <li><i class="dropdown-item" href="#">Espanhol</i></li>
        </ul>
    </div>
    <div class="mt-2"><%= link_to 'Entrar', netflix_login_path %></div>
</div>
<main class="main">
      <div class="main-child">
        <h1>Filmes, séries e muito mais. Sem limites.</h1>
        <span>Assista onde quiser. Cancele quando quiser.</span>
        <p>
          Pronto para assistir? Informe seu email para criar ou reiniciar sua
          assinatura.
        </p>
        <form class="form-cta">
          <input type="text" placeholder="Email" />
          <button>Vamos lá</button>
        </form>
      </div>
      <div class="gradient"></div>
    </main>
    <section class="section">
      <div class="containerinter">
        <div class="grid">
          <div>
            <h1>Aproveite na TV.</h1>
            <p>
              Assista em Smart TVs, PlayStation, Xbox, Chromecast, Apple TV,
              aparelhos de Blu-ray e outros aparelhos.
            </p>
          </div>
          <div class="img-tv">
            <%= image_tag "netflix/tv.png"%>
            <video class="video-tv" autoplay playsinline muted loop>
              <source
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </div>
    </section>
    <section class="download section">
      <div class="containerinter">
        <div class="grid">
          <div>
            <h1>Baixe séries para assistir offline.</h1>
            <p>
              Salve seus títulos favoritos e sempre tenha algo para assistir.
            </p>
          </div>
          <div class="img-tv">
            <%= image_tag "netflix/el.jpg"%>
          </div>
        </div>
      </div>
    </section>
    <section class="device-pile section">
      <div class="containerinter">
        <div class="grid">
          <div>
            <h1>Assista quando quiser.</h1>
            <p>
              Assista no celular, tablet, smart TV ou notebook sem pagar a mais
              por isso.
            </p>
          </div>
          <div class="img-tv">
            <%= image_tag "netflix/device-pile.png"%>
            <video class="video-tv" autoplay playsinline muted loop>
              <source
                src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v"
                type="video/mp4"
              />
            </video>
          </div>
        </div>
      </div>
    </section>
    <section class="download section">
      <div class="containerinter">
        <div class="grid">
          <div>
            <h1>Crie perfis para crianças.</h1>
            <p>
              Deixe as crianças se aventurarem com seus personagens favoritos em um espaço feito só para elas, sem pagar a mais por isso.
            </p>
          </div>
          <div class="img-tv">
            <%= image_tag "netflix/childish.png"%>
          </div>
        </div>
      </div>
    </section>

    <section class="section-flooter">
        <h1> Perguntas frequentes </h1>
        <div class="container ">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h3> O que é Netflix? </h3>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A Netflix é um serviço de transmissão online que oferece uma ampla variedade de séries, filmes e documentários premiados em milhares de aparelhos conectados à internet. Você pode assistir a quantos filmes e séries quiser, quando e onde quiser, sem comerciais – tudo por um preço mensal bem acessível. Aqui você sempre encontra novidades. A cada semana, adicionamos novas séries e filmes.</div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h3> Quanto custa a Netflix? </h3>
                        </button>
                    </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Assista à Netflix no seu celular, tablet, Smart TV, notebook ou aparelho de streaming por uma taxa mensal única. Os planos variam de R$25,90 a R$55,90 por mês. Sem contrato nem taxas extras. </div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h3> Onde posso assistir? </h3>
                        </button>
                    </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Assista onde quiser, quando quiser. Faça login com sua conta Netflix em netflix.com para começar a assistir no computador ou em qualquer aparelho conectado à Internet compatível com o aplicativo Netflix, como Smart TVs, smartphones, tablets, aparelhos de streaming e videogames. Você também pode baixar a sua série favorita com o aplicativo Netflix para iOS, Android ou Windows 10. Use downloads para levar a Netflix para onde quiser sem precisar de conexão com a Internet. Leve a Netflix com você para qualquer lugar. </div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <h3> Como faço para cancelar? </h3>
                        </button>
                    </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A Netflix é flexível. Não há contratos nem compromissos. Você pode cancelar a sua conta na internet com apenas dois cliques. Não há taxa de cancelamento – você pode começar ou encerrar a sua assinatura a qualquer momento. </div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <h3> O que eu posso assitir na Netflix </h3>
                        </button>
                    </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A Netflix tem um grande catálogo de filmes, documentários, séries, originais Netflix premiados e muito mais. Assista o quanto quiser, quando quiser. </div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        <h3> A Netflix é adequada para crianças? </h3>
                        </button>
                    </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">A experiência infantil da Netflix faz parte da sua assinatura para que as crianças se divirtam em seu próprio espaço com séries e filmes familiares sob a supervisão dos responsáveis. O recurso de controle parental, incluso nos perfis para crianças e protegido por PIN, permite restringir a classificação etária do conteúdo que as crianças podem ver e bloquear títulos específicos que você não quer que elas assistam.</div>
                </div>
                </div>
            </div>
        </div>
    </section>

    
    <footer class="footer">
        <i>
          Pronto para assistir? Informe seu email para criar ou reiniciar sua
          assinatura.
        </i>
      <form class="form-cta">
        <input type="text" placeholder="Email" />
        <button>Vamos lá</button>
      </form>
      <p>Copyright © 2020 Netflix Brasil. Todos os direitos reservados.</p>
    </footer>
</div>